.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}
.item{
    border: blueviolet 2px solid;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 100px;
    justify-content: space-evenly;
    display: flex;
    margin: 10px;
    flex-direction: column;
    background: beige;
}

.but{
    width: 50px;
    height: 20px;
    border: darkred 2px solid;

}